section {
  border: 1px solid #CCC;
  padding: 15px 30px;
}

ul.menu {
  border: 1px solid #CCC;
  padding: 5px 10px;
  list-style-type: none;
}
ul.menu > li {
  display: inline-block;
}
ul.menu > li > a {
  display: block;
}
